/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Our styles */

body {
	margin: 0 10% 0 10%;
}

nav {
	background: -webkit-linear-gradient(-0, rgba(0, 0, 0, 0.8), #1c1c1c);
	background: -o-linear-gradient(-0, rgba(0, 0, 0, 0.8), #1c1c1c);
	background: -moz-linear-gradient(-0, rgba(0, 0, 0, 0.8), #1c1c1c);
	background: linear-gradient(-0, rgba(0, 0, 0, 0.8), #1c1c1c);
	border-bottom: 1px solid black;
	box-shadow: 0 8px 50px -5px #000;
	overflow: hidden;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}

h2 {
	color: white;
	background-color: #8f8f8f;
  background: -webkit-linear-gradient(-90deg, rgba(13, 13, 13, 1), #404040, rgba(13, 13, 13, 1));
  background: -o-linear-gradient(-90deg, rgba(13, 13, 13, 1), #404040, rgba(13, 13, 13, 1));
  background: -moz-linear-gradient(-90deg, rgba(13, 13, 13, 1), #404040, rgba(13, 13, 13, 1));
  background: linear-gradient(-90deg, rgba(13, 13, 13, 1), #404040, rgba(13, 13, 13, 1));
	text-align: center;
	text-shadow: 1px 2px 16px black;
	font-size: 3.7em;
	border-top: 2px solid #1b02d9;
  border-bottom: 2px solid #1b02d9;
  box-shadow: 0px -1px 40px -5px black;
	padding: 1% 2% 1% 2%;
	margin: 11% 0 3% 0;
}

h1, h2, h3, h4, h6 {
	font-family: 'Ubuntu', sans-serif;
}

h3, h4 {
	display: inline-block;
}

h3, h6 {
	color: white;
	font-size: 3em;
	text-shadow: 1px 3px 4px black;
	margin-top: 1%;
	padding-bottom:1%;
}

h4 {
	color: black;
	font-size: 3em;
	margin-top: 1%;
	padding-bottom:1%;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 3.5em;
	margin-top: 0px;
}

p {
	font-size: 1.5em;
	margin: 1% 0 7% 0;
}

p, li, label, h5 {
	color: white;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1px 1px 6px black;
}

label {
	font-size: 1.3em;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

textarea {
	width: 100%;
	padding: 1%;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	transition:all .3s;
	border-bottom: 2px solid #bebed2;
	margin-top: 3%;
}

textarea:focus {
	border-bottom:2px solid #78788c
}

footer {
	text-align: center;
	background-color: black;
	border: 1px solid black;
	border-radius: 2px;
	padding: 1% 0 1% 0;
	margin-top: 10%;
}

footer > p {
	font-size:  1em;
}
