#all-container {
  background-color: #8f8f8f;
  background: -webkit-linear-gradient(-90deg, rgba(214, 214, 214, 0.15), #8f8f8f, rgba(214, 214, 214, 0.15));
  background: -o-linear-gradient(-90deg, rgba(214, 214, 214, 0.15), #8f8f8f, rgba(214, 214, 214, 0.15));
  background: -moz-linear-gradient(-90deg, rgba(214, 214, 214, 0.15), #8f8f8f, rgba(214, 214, 214, 0.15));
  background: linear-gradient(-90deg, rgba(214, 214, 214, 0.15), #8f8f8f, rgba(214, 214, 214, 0.15));
  padding-top: 1.5%;
}

#header-slogan-div {
  background-image: url(../imgs/header-slogan-background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: black;
  border-top: 2px solid #1b02d9;
  border-bottom: 2px solid #1b02d9;
  padding: 1% 2% 1% 2%;
  box-shadow: 0px -1px 40px -5px black;
}

#header-h1 {
  color: white;
  text-shadow: 3px 3px 10px black;
  font-size: 5em;
}

#testimonial-quote {
  font-family: 'Satisfy', cursive;
  font-size: 2.6em;
  text-shadow: 1px 2px 4px black;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 3%;
}

#testimonial-author {
  color: black;
  font-style: italic;
  font-size: 1.1em;
  text-shadow: none;
  text-align: center;
  margin-bottom: 7%;
}

#contact-form-header:hover {
  cursor: default;
}

#user-form-invoice, #user-form-bill {
  font-size: 0.8em;
  border-bottom: 2px solid #e6e6e6;
  margin-top: 5%;
  margin-bottom: 15%;
}

#user-form-invoice:focus {
  border-bottom: 2px solid #78788c;
}

#user-form-bill:focus {
  border-bottom: 2px solid #78788c;
}

#details:hover{
  cursor: pointer;
}

#footer-text {
  margin-bottom: 1%;
}
