{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h4>Nope.</h4>
  <p class="lead">Trying to step to this? You know you're not authorized, Hacker McHackface. Now I gotta give you a 403.</p>
</div>
{% endblock %}
