{% extends "layout.jinja2" %}

{% block content %}
    <form id="contact-form" class="user-form">
      <h4 class="form-header">Journal Time</h4>
      <p class="section-text-medium">Whatcha thinkin about?</p>
      <p class="section-text-small">Whatever it is, type it out man. Take it from me, me, getting it out heals the soul. And it's also required.</p>
      <p class="user-form-text" type="Date:"><input id="journal-date" class="contact-control" placeholder="Date..." type=date></input></p>
      <p class="user-form-text" type="Title:"><input id="journal-name" class="contact-control" placeholder="Title..."></input></p>
      <p class="user-form-text" type="Journal:"><textarea id="journal-content" placeholder="Journal..."></textarea></p>
      <button id="entry-button" class="user-form-button"><a href="index.html">Create Entry</a></button>
      <p class="contact-footer"><a id="contact-footer-email" href="mailto: carson.newton@outlook.com">carson.newton@outlook.com</a> | (253)324-3094</p>
    </form>
{% endblock %}
