{% extends "layout.jinja2" %}

{% block content %}
    {% for journal in journals %}
        <h4><a href="{{ request.route_url('details', id=journal.id) }}" id="details">{{ journal.title }}</a></h4>
        <p>{{ journal.creation_date }}</p>
    {% endfor %}
{% endblock %}
