{% extends "layout.jinja2" %}

{% block content %}
    <form method='POST'>
        <input type='hidden' name='csrf_token' value='{{ request.session.get_csrf_token() }}'>
        <label>Username<input name='username' placeholder='Username' type='text'></label>
        <label>Password<input name='password' placeholder='Password' type='password'></label>
        <button id="contact-send" class="user-form-button" type='submit'>Login</button>
    </form>
{% endblock %}
